{{> nav }}

<div class="row d-flex justify-content-center pt-4 w-100">
    <section class="col-3">
        {{> profile-aside}}
    </section>
    <section class="col-5">
        {{> post amount=amount }}
    </section>
    <section class="col-3 contacts">
        {{> contacts amount=amount }}
    </section>

</div>
