
<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed top-0 w-100">
  <div class="row d-flex justify-content-between w-100">
    <div class="col-2 ps-5">
      <a class="navbar-brand" href="/">LOGO</a>
    </div>
    <form class="d-flex col-5">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="col-2 d-flex justify-content-end">
      <a href="./post/add" class="btn"><i class="far fa-plus-square fa-2x"></i></a>
      <a class="btn"><i class="far fa-bell fa-2x"></i></a>
    </div>
  </div>
</nav>
<div style="margin-bottom: 10vh;"></div>