<nav class="d-flex justify-content-between">
  <a href="/" class="btn"><i class="fas fa-home fa-2x"></i></a>
  <a href="" class="btn"><i class="fas fa-search fa-2x"></i></a>
  <a href="" class="btn"><i class="far fa-plus-square fa-3x"></i></a>
  <a href="" class="btn"><i class="far fa-comment-alt fa-2x"></i></a>
  <a href="" class="btn"><i class="far fa-user fa-2x"></i></a>
</nav>