    {{#each amount }}
    <article class="post">
        <section class="card-header d-flex justify-content-between">
            <div class="d-flex">
                <img src="/img/profile-img.jpg" alt="" class="profile-photo">
                <h2 class="card-tittle ms-3 fs-5">Monica Perez</h2>
            </div>
            <i class="fas fa-ellipsis-v fa-2x btn post-options"></i>
        </section>
        <section class="post-multimedia">
            <img src="/img/profile-img.jpg" alt="" class="card-img-top">
            <i class="fas fa-user-circle"></i>
        </section>
        <section>
            <div class="d-flex post-btns">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-bookmark"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <p class="likes-amount">25.1k likes</p>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, fugit, animi odio officia velit eos incidunt quos est quam eligendi, iste pariatur quod deserunt asperiores ratione! Aliquid expedita cum odio?</p>
            <p class="comments-amount">See the 352 comments</p>
        </section>
    </article>
    {{/each}}